
/* ===== VARIABLES ===== */
 
:root {

 /* Colors */
 --bg-color:       #F0F3F8;
 --card-bg-color:  #FFFFFF;



 /* Typography */

  /* Font family */
  --ff-roboto: 'Roboto', sans-serif;

  /* Font weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  
}

/* ====== RESET ====== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  font-family: var(--ff-roboto);
  scroll-behavior: smooth;
}

a { text-decoration: none; }

body {
  background: var(--bg-color);
  min-height: 100vh;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items:     center;
}

/* ======  FORM CONTAINER ======= */